@model IEnumerable<TheFoodHubMVC.Models.ProductCategory>

@{
    ViewData["Title"] = "Product Categories";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Product Categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Product Categories</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
<p>
  <a asp-action="Create">
   <button type="button" class="btn btn-outline-primary" asp-action="Create">Create New category</button>
  </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">
                <button type="button" class="btn btn-warning"><i class="bi bi-pen"></i></button>
                </a>
            
                <a asp-action="Details" asp-route-id="@item.CategoryId">
                <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
                </a> 
            
                <a asp-action="Delete" asp-route-id="@item.CategoryId">
                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>
</main>